<html>
  <head>
    <title>Pi Video Surveillance</title>
  </head>
  <body>
    <h1>Pi Video Surveillance</h1>
    <img src="{{ url_for('video_feed') }}">
    <p>Ultrasonic Front: <span id="us_front">Sensor data here</span></p>
    <p>Ultrasonic Left: <span id="us_left">Sensor data here</span></p>
    <p>Ultrasonic Right: <span id="us_right">Sensor data here</span></p>
    <p>Accelerometer: <span id="a">Sensor data here</span></p>
    <p>Magnetometer: <span id="m">Sensor data here</span></p>
  </body>

  <script>

    setInterval(() => {
        fetch("{{ url_for('us_front_feed') }}")
        .then(response => {
                response.text().then(t => {us_front.innerHTML = t})
            });
        }, 1000/10);

    setInterval(() => {
        fetch("{{ url_for('us_left_feed') }}")
        .then(response => {
                response.text().then(t => {us_left.innerHTML = t})
            });
        }, 1000/10);

    setInterval(() => {
        fetch("{{ url_for('us_right_feed') }}")
        .then(response => {
                response.text().then(t => {us_right.innerHTML = t})
            });
        }, 1000/10);

    setInterval(() => {
        fetch("{{ url_for('a_feed') }}")
        .then(response => {
                response.text().then(t => {a.innerHTML = t})
            });
        }, 1000/10);

    setInterval(() => {
        fetch("{{ url_for('m_feed') }}")
        .then(response => {
                response.text().then(t => {m.innerHTML = t})
            });
        }, 1000/10);

  </script>

</html>